.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2154px;
}

.u-section-1 .u-text-1 {
  width: 601px;
  margin: 124px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 533px;
  grid-template-columns: calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px);
  grid-gap: 17px 17px;
  margin-bottom: 0;
  margin-top: 169px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 301px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 26px -152px 0;
}

.u-section-1 .u-product-price-1 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 26px auto 0;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 301px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 26px -152px 0;
}

.u-section-1 .u-product-price-2 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 26px auto 0;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 301px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 26px -152px 0;
}

.u-section-1 .u-product-price-3 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 26px auto 0;
}

.u-section-1 .u-repeater-2 {
  min-height: 533px;
  grid-template-columns: calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px);
  grid-gap: 17px 17px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-1 .u-repeater-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 301px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 26px -152px 0;
}

.u-section-1 .u-product-price-4 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 26px auto 0;
}

.u-section-1 .u-repeater-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 301px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 26px -152px 0;
}

.u-section-1 .u-product-price-5 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 26px auto 0;
}

.u-section-1 .u-repeater-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 301px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 26px -152px 0;
}

.u-section-1 .u-product-price-6 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 26px auto 0;
}

.u-section-1 .u-repeater-3 {
  min-height: 533px;
  grid-template-columns: calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px);
  grid-gap: 17px 17px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-1 .u-repeater-item-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 301px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 26px -152px 0;
}

.u-section-1 .u-product-price-7 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 26px auto 0;
}

.u-section-1 .u-repeater-item-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  height: 301px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 26px -152px 0;
}

.u-section-1 .u-product-price-8 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 26px auto 0;
}

.u-section-1 .u-repeater-item-9 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  height: 301px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 26px -152px 0;
}

.u-section-1 .u-product-price-9 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1872px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 47px;
    margin-left: 238px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 439px;
    margin-top: 200px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 439px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 11.3333px));
  }

  .u-section-1 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 439px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 11.3333px));
    margin-bottom: 0;
  }

  .u-section-1 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3582px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1673px;
    margin-left: 182px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1009px;
    grid-template-columns: calc(50% - 8.49997px) calc(50% - 8.49997px);
    margin-top: -1426px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 1009px;
    grid-template-columns: repeat(2, calc(50% - 8.499975px));
  }

  .u-section-1 .u-repeater-3 {
    min-height: 1009px;
    grid-template-columns: repeat(2, calc(50% - 8.499975px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 3299px;
    margin-left: 137px;
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    margin-top: -3039px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 86px;
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    margin-top: -3077px;
  }
}